
*.mtl
*.blend

lipbase.obj
lipbase2.blend1
lipbase3.blend1
onlybase.obj
roundtemplate01.blend1
shotguntemplate01.blend1
flamertemplate2.blend1
smallflamertemplate.blend1
Lipbase40Projectblend.blend1
Lipbase30Projectblend.blend1
BOX.blend1
01-small0-30-40mm-FACING.blend1
02-small0-30-40mm-FIGURE.blend1
*.blend1
